<section class=" my-32">
    <div class="flex justify-center font-caption text-3xl my-5 font-bold">
        <h2>We also Provide</h2>
    </div>
    <div class=" w-full h-96 grid grid-cols-3 ">
        <div class="border-x border-gray-300 p-7">
            <div class="flex flex-col justify-center items-center h-full w-full">
                <div class="rounded-full h-24 w-24 border shadow-xl flex justify-center items-center">
                    <i class="fa-solid fa-wallet text-3xl text-blue-400"></i>
                </div>
                <h1 class="text-2xl py-3 font-semibold">Online Payment</h1>
                <p class="text-center font-medium text-gray-500">We accept online payments method like stripe for better and fast payment service for  the users.</p>
            </div>
        </div>
        <div class="border-x border-gray-300 p-7">
            <div class="flex flex-col justify-center items-center h-full w-full">
                <div class="rounded-full h-24 w-24 border shadow-xl flex justify-center items-center">

                    <i class="fa-solid fa-arrows-rotate text-3xl text-blue-400"></i>
                </div>
                <h1 class="text-2xl py-3 font-semibold">Cancellation Refund</h1>
                <p class="text-center font-medium text-gray-500">The booking can be cancelled by anytime before the scheduled time of the booking. And the refund will be debited to you wallet immediately</p>
            </div>
        </div>
        <div class="border-x border-gray-300 p-7">
            <div class="flex flex-col justify-center items-center h-full w-full">
                <div class="rounded-full h-24 w-24 border shadow-xl flex justify-center items-center">
                    <i class="fa-regular fa-comments text-3xl text-blue-400"></i>
                </div>
                <h1 class="text-2xl py-3 font-semibold">Chat with Workers</h1>
                <p class="text-center font-medium text-gray-500">You can chat with our workers as to know their avaialbility.</p>
            </div>
        </div>
    </div>
</section>