<nav class="bg-[#fff] w-full text-white py-4 ">
    <div class="flex justify-around w-auto">
        <div class=" rounded-lg" id="navigation">
            <form class="navbar-form">
                <div class="">
                    <input type="text" value="" class="text-black border border-gray-500 bg-transparent rounded-lg outline-none lg:p-2 lg:w-96 " placeholder="Search...">
                </div>
            </form>
        </div>
        <div> 
            <button class="bg-gradient-to-r from-cyan-500 to-blue-600 py-1 px-3 pl-1 rounded hover:bg-[#0000007a]" (click)="logout()">  <i class="fa fa-sign-out p-2" aria-hidden="true"></i>LOG OUT</button>
        </div>
    </div>
</nav>