<app-nav-bar></app-nav-bar>

<app-search (searchKeyChanged)="onSearchTextEntered($event)"></app-search>

<app-filter
[allWorkers]="getAllWorkersCount()"
[maleWorkers]="getMaleWorkersCount()"
[femaleWorkers]="getFemaleWorkersCount()"
(genderFilterChanged)="onGenderFilterChanged($event)"
(ageSortChanged)="onAgeSortChanged($event)"
(wageSortChanged)="onWageSortChanged($event)"
></app-filter>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 px-10  ">  

  <ng-container *ngFor="let worker of filteredWorkers | ageSort: orderAge  | wageSort : orderWage | slice: currentPage * 9 - 9 : currentPage * 9">
    <ng-container *ngIf="selectedGender== 'all' || selectedGender== worker.gender">
      <div class="flex flex-col bg-white border shadow-sm p-5 rounded-2xl  mx-16 my-5 hover:scale-110 transition duration-300 ease-in-out delay-100 ">
          <img class="w-full h-40 rounded-2xl" src="./assets/worker-sample/ocala-plumber.webp" alt="Image Description">
          <div class="mt-2">
            <div class="flex justify-between">
              <h3 class="text-lg font-bold text-gray-800">
                {{worker.work}}
              </h3>
              <div class="flex items-center space-x-1">
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-gray-300 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
              </div>
            </div>
            <div class="grid grid-cols-2 text-sm">
              <p><span class="font-semibold">Name:</span> {{worker.name}}</p>
              <p><span class="font-semibold">Experience:</span> {{worker.experience}}yr</p>
              <p><span class="font-semibold">Age:</span> {{worker.age}}</p>
              <p><span class="font-semibold">Gender:</span> {{worker.gender}}</p>
              <p><span class="font-semibold">Wage (day):</span> {{worker.wageForDay}}</p>
              <p><span class="font-semibold">Wage (hour):</span> {{worker.wageForHour}}</p>
            </div>
    
            <a class="mt-3 py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-[#bc3908] text-white hover:bg-[#621708] focus:outline-none focus:ring-2 focus:ring-[#bb3e03] focus:ring-offset-2 transition-all text-sm" 
            [routerLink]="['/workerDetails',worker._id]" >
              View Details
            </a>
          </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="flex justify-center">
  <nav class=" my-5" aria-label="Page navigation example">
      <ul class="inline-flex -space-x-px text-base font-semibold h-11">
          <li>
              <a (click)="onPrevious($event)"
                  class="flex items-center justify-center px-5 h-11  ms-0 leading-tight text-white  hover:bg-[#0000004b]  rounded-lg ">
                  Previous
              </a>
          </li>

          <ng-container *ngFor="let page of pages">
              <li>
                  <a (click)="onPageClick(page)"
                      class="flex items-center justify-center mx-2 px-4 h-11 leading-tight text-white rounded-full  border-2  hover:border-gray-300 border-transparent    "
                      [ngClass]="{'bg-[#eb5e28]': page === currentPage}"
                  >
                      {{ page }}
                  </a>
              </li>
          </ng-container>
          
          <li>
              <a (click)="onNext($event)"
              class="flex items-center justify-center px-5 h-11  ms-0 leading-tight text-white  hover:bg-[#0000004b]  rounded-lg ">
              Next</a>
          </li>
      </ul>
  </nav>
</div>