<nav class="flex justify-around w-auto pt-3 pb-3">
    <h1 class="ml-5 text-white"> Title</h1>
    <ul class="flex items-center text-2xl text-white">
        <li><a class="pr-2.5 pl-2.5" href="#">Home</a> </li>
        <li><a class="pr-2.5 pl-2.5" href="#">Profile</a></li>
        <li><a class="pr-2.5 pl-2.5" href="#">Services</a></li>
        <li><a class="pr-2.5 pl-2.5" href="#">Workers</a></li>
    </ul>
    <button class="px-4 py-1 text-lg text-white rounded bg-[#a5352198] hover:bg-[#a53521]" routerLink="/auth/login">Login</button>
</nav>
