<app-nav-bar></app-nav-bar>
<div class="flex items-center justify-center">
    <h1 class="text-center text-white font-bold text-5xl py-10 ">Our Services</h1>
</div>
<div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mx-20">  
        <div *ngFor="let service of services$" class="flex flex-col  h-fit bg-gradient-to-r from-[#c24d04] to-[#d29908]  shadow-sm p-5 rounded-xl  mx-10 my-5 hover:scale-110 transition duration-300 ease-in-out delay-100" [routerLink]="['/workerList', {serviceName: service.name}]">
            <div class="">
                <div class=" h-24">
                    <h3 class="text-lg font-bold text-gray-800">{{service.name}}</h3>
                    <p class="text-sm">{{service.description}}</p>
                </div>
                <div class="flex justify-end items-end">
                    <a class="py-3 inline-flex   gap-0 rounded-full border border-transparent  bg-white text-black  focus:outline-none focus:ring-2 focus:ring-[#bb3e03] focus:ring-offset-2 transition-all text-sm">
                        <i class="w-10 px-3 fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>