<div class="bg-[url('./assets/images/homepage-worker.jpg')]  bg-cover bg-no-repeat h-60 mt-32">
    <div class="h-full w-full flex justify-start items-center">
        <div>
            <h1 class="px-10 text-4xl font-caption2 text-white">Let's complete All Your Works</h1>
            <h1 class="px-10 text-4xl font-caption2 text-white">Hire A Worker</h1>

        </div>
        
    </div>
</div>


<div class="grid grid-cols-2 h-fit my-32">
    <div class="flex justify-center bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-900 from-5% to-white to-65%">
        <img class="h-9/12 w-9/12 my-20 rounded-2xl  shadow-2xl" src="./assets/images/cheerful-asian-plumber-sitting-floor-repairing-kitchen-sink.jpg" alt="">
    </div>
    <div class="flex flex-col justify-center p-10 bg-transparent">
        <div class=" flex flex-col justify-center pr-10">
            <h1 class=" text-3xl text-blue-600 font-bold">Starting from ₹500</h1>
            <h1 class="text-5xl font-bold py-4"> Workers are waiting for you to Book</h1>
            <p class="text-gray-500 text-lg"> You can find the worker according to your need form DailyHire. DailyHire provide a platform for finding the workers for daily needs. Hurry up Book now !</p>
        </div>
        <div>
            <button class="text-left mt-3 bg-orange-500 py-3 px-5 rounded-lg text-white font-semibold">Book Now</button>
        </div>

    </div>
</div>
