<nav class="flex justify-around w-auto pt-3 pb-3">
    <div class="flex items-center">
        <img class="w-8 h-8" src="./assets/DailyHire-logo.png" alt="fsd">
        <h1 class="text-white text-3xl font-semibold  hidden sm:block ">aily Hire</h1>
    </div>
    <ul class="flex items-center text-2xl text-white">
        <li><a class="pr-2.5 pl-2.5" href="#">Home</a> </li>
        <li><a class="pr-2.5 pl-2.5" href="#">Services</a></li>
        <li><a class="pr-2.5 pl-2.5" routerLink="/workerList">Workers</a></li>
        <li><a class="pr-2.5 pl-2.5" href="#">Profile</a></li>
    </ul>
    <div>

        <button *ngIf="isLoggedIn(); else loginSignup" class="px-4 py-1 text-lg text-white rounded bg-[#a5352198] hover:bg-[#a53521]" (click)="logout()">Logout</button>
        <ng-template #loginSignup>
            <button class="px-4 py-1 text-lg mr-3 text-white rounded bg-[#a5352198] hover:bg-[#a53521]" routerLink="/auth/login">Login</button>
            <button class="px-4 py-1 text-lg text-white rounded bg-[#a5352198] hover:bg-[#a53521]" routerLink="/auth/signup">Signup</button>
        </ng-template>
    </div>
</nav>
