<div class="flex justify-between">
    <h1 class="p-3 font-semibold text-4xl">Service Management</h1>
    <div class="flex items-center m-5">

        <button class="bg-[#3f37c9] text-white py-1  px-3 rounded hover:bg-[#2764a57a]">Add Service</button>
    </div>
</div>
<div class=" flex justify-center">
    <div class="    w-11/12 overflow-x-auto shadow-lg sm:rounded-lg">
        <table class="w-full text-sm rtl:text-right text-gray-500 text-center  ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Service Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Service Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Service Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Update Service
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  ">
                        Electrician
                    </th>
                    <td class="px-6 py-4  ">
                        <div class="w-[30rem] truncate" >
                            Helps you with repairing or replacing equipment, fixtures or wiring Helps you with repairing or replacing equipment, fixtures or wiring Helps you with repairing or replacing equipment, fixtures or wiring Helps you with repairing or replacing equipment, fixtures or wiring
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-blue-600   hover:underline">Unlist</a>
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-blue-600   hover:underline">Edit</a>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>