<div class="h-10"></div>
<div class="flex w-10/12 sm:w-7/12 m-auto  overflow-hidden bg-white shadow-lg rounded-xl">
    <div class="hidden  w-1/2  sm:hidden md:block">
        <div class="flex flex-col items-center justify-center h-full p-12 bg-no-repeat bg-cover bg-center" style="background-image: url('../../../assets/images/gentleman-tuxedo.jpg');">
           <div class="flex items-center p-10">
               <img class="w-10 h-10" src="./assets/DailyHire-logo.png" alt="fsd">
               <h1 class="text-white text-4xl font-semibold  hidden sm:block ">aily Hire</h1>
           </div>
        
           <h1 class="mb-4 text-3xl font-bold text-white">Welcome</h1>
           <div>
               <p class="text-sm text-[#ffffff]">This web app connects daily workers with those in need. Workers create profiles detailing their skills, while users book them as needed.</p>
           </div>
       </div>
    </div>
    <div class="relative w-full lg:w-1/2 px-5 lg:px-10 py-10 h-fit ">
        <h1 class="mb-1 text-3xl ">Register</h1>
        <p class="text-sm">Already Registered on Daily Hire? <a routerLink="/auth/login"  class="font-semibold text-yellow-950">Click Here</a></p>
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()" >
            <div class='grid gap-5 mt-2'>
                <div>
                    <div class="relative">
                        <input type="text" id="floating_outlined" 
                        formControlName="name"
                        class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-white rounded-lg border appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                        [ngClass]="{
                            ' border-red-500': form.get('name')?.invalid && form.get('name')?.touched,
                            'border-green-600': !form.get('name')?.invalid && !form.get('name')?.touched
                        }"
                        />
                        <label for="floating_outlined" 
                        class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                        [ngClass]="{
                            'text-red-600': form.get('name')?.invalid && form.get('name')?.touched,
                            'text-green-600 ': !form.get('name')?.invalid && !form.get('name')?.touched,
                        }"
                        >Name</label>
                    </div>
                    <p *ngIf="!form.get('name')?.valid && !form.get('name')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>name must be valid(eg: A-Z or a-z)</p>
                </div>
                <div>
                    <div class="relative">
                        <input type="text" id="floating_outlined" 
                        formControlName="phone"
                        class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-white rounded-lg border appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                        [ngClass]="{
                            ' border-red-500': form.get('phone')?.invalid && form.get('phone')?.touched,
                            'border-green-600': !form.get('phone')?.invalid && !form.get('phone')?.touched
                        }"
                        />
                        <label for="floating_outlined" 
                        class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                        [ngClass]="{
                            'text-red-600': form.get('phone')?.invalid && form.get('phone')?.touched,
                            'text-green-600 ': !form.get('phone')?.invalid && !form.get('phone')?.touched,
                        }"
                        >Phone number</label>
                    </div>
                    <p *ngIf="!form.get('phone')?.valid && !form.get('phone')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>Phone number must be valid.(0-9)</p>
                </div>
                <div>
                    <div class="relative">
                        <input type="text" id="floating_outlined" 
                        formControlName="email"
                        class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-white rounded-lg border appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                        [ngClass]="{
                            ' border-red-500': form.get('email')?.invalid && form.get('email')?.touched,
                            'border-green-600': !form.get('email')?.invalid && !form.get('email')?.touched
                        }"
                        />
                        <label for="floating_outlined" 
                        class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                        [ngClass]="{
                            'text-red-600': form.get('email')?.invalid && form.get('email')?.touched,
                            'text-green-600 ': !form.get('email')?.invalid && !form.get('email')?.touched,
                        }"
                        >e-mail</label>
                    </div>
                    <p *ngIf="!form.get('email')?.valid && !form.get('email')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>email must be valid</p>
                </div>
                <div>
                    <div class="relative">
                        <input type="password" id="floating_outlined" 
                        formControlName="password"
                        class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-white rounded-lg border appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                        [ngClass]="{
                            ' border-red-500': form.get('password')?.invalid && form.get('password')?.touched,
                            'border-green-600': !form.get('password')?.invalid && !form.get('password')?.touched
                        }"
                        />
                        <label for="floating_outlined" 
                        class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                        [ngClass]="{
                            'text-red-600': form.get('password')?.invalid && form.get('password')?.touched,
                            'text-green-600 ': !form.get('password')?.invalid && !form.get('password')?.touched,
                        }"
                        >Password</label>
                    </div>
                    <p *ngIf="!form.get('password')?.valid && !form.get('password')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>must be 8 characters(eg: e5$h23Dq)</p>
                </div>
                <div>
                    <div class="relative">
                        <input type="password" id="floating_outlined" 
                        formControlName="confpassword"
                        class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-white rounded-lg border appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                        [ngClass]="{
                            ' border-red-500': form.get('confpassword')?.invalid && form.get('confpassword')?.touched,
                            'border-green-600': !form.get('confpassword')?.invalid && !form.get('confpassword')?.touched
                        }"
                        />
                        <label for="floating_outlined" 
                        class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                        [ngClass]="{
                            'text-red-600': form.get('confpassword')?.invalid && form.get('confpassword')?.touched,
                            'text-green-600 ': !form.get('confpassword')?.invalid && !form.get('confpassword')?.touched,
                        }"
                        >Confirm Password</label>
                    </div>
                    <p *ngIf="!form.get('confpassword')?.valid && !form.get('confpassword')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>must be 8 characters(eg: e5$h23Dq)</p>
                    <div class="flex">
                        <p class="text-red-600 m-auto text-sm">{{errorMessage}}</p>
                    </div>
                </div>
            </div>
             
            <div class="mt-4">
                <input type="checkbox" placeholder="Confirm Password" class="border border-gray-400">
                <span class="text-sm">
                    I accept the <a href="#" class="font-semibold text-yellow-950">Terms of Use</a> & <a href="#"  class="font-semibold text-yellow-950">Privacy Policy</a>
                </span>
            </div>
            <div class="mt-4">
                <button class="w-full py-3 text-center text-white bg-[#232121] rounded-md" [disabled]="!form.valid">Register Now</button>
            </div>
        </form>
        <div class="mt-4 h-10 flex justify-center">
            <asl-google-signin-button *ngIf="!user" type="standard" size="medium"></asl-google-signin-button>
        </div>
    </div> 
</div>
 