<h1 class="p-3 font-semibold text-4xl">Worker Management</h1>

<div class=" flex justify-center">
    <div class="relative w-11/12 overflow-x-auto shadow-lg sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500  ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200  ">
                <tr>
                    <th scope="col" class="px-3 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-3 py-3">
                        E-mail
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Phone
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Proffesion
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Age
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Gender
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Wage(day)
                    </th>
                    <th scope="col" class="px-3 py-3">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let worker of workers$" class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  ">
                         {{worker.name}}
                    </th>
                    <td class="px-3 py-4">
                        {{worker.email}}
                    </td>
                    <td class="px-3 py-4">
                        +91{{worker.phone}}
                    </td>
                    <td class="px-3 py-4">
                        {{worker.work}}
                    </td>
                    <td class="px-3 py-4">
                        {{worker.age}}
                    </td>
                    <td class="px-3 py-4">
                        {{worker.gender}}
                    </td>
                    <td class="px-3 py-4">
                        {{worker.wageForDay}}
                    </td>
                    <td class="px-3 py-4">
                        <a *ngIf="worker.isListed; else list" (click)="onStatusChange(worker._id)" class="font-medium text-blue-600 hover:underline">Unlist</a>
                        <ng-template #list>
                            <a (click)="onStatusChange(worker._id)"  class="font-medium text-blue-600 hover:underline">List</a>
                        </ng-template>
                </tr> 
            </tbody>
        </table>
    </div>
</div>