<div class="flex w-4/12 m-auto mt-32 overflow-hidden bg-[#ffffffa9] shadow-lg h-2/5 rounded-xl"> 
     
    <div class="relative w-full px-5 lg:px-10 py-10 lg:h-96 h-fit ">
        <h1 class="mb-1 text-3xl text-center">Worker Login</h1>
        <p class="  text-sm  ">If you want to Register on  Daily Hire? <a routerLink="/worker/auth/signup"  class="font-semibold text-yellow-950">Click Here</a></p>
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="">
            <div  class='grid gap-6 mt-7'>
                <div>
                    <div class="relative">
                        <input type="text" id="floating_outlined_1" 
                        formControlName="email"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-500 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                        [ngClass]="{
                            ' border-red-500': form.get('email')?.invalid && form.get('email')?.touched,
                            'border-green-600': !form.get('email')?.invalid && !form.get('email')?.touched
                        }"
                        />
                        <label for="floating_outlined_1" 
                        class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-4 scale-75 top-0 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                        [ngClass]="{
                            'text-red-600': form.get('email')?.invalid && form.get('email')?.touched,
                            'text-green-600 ': !form.get('email')?.invalid && !form.get('email')?.touched,
                        }"
                        >e-mail</label>
                    </div>
                    <p *ngIf="!form.get('email')?.valid && !form.get('email')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>email must be valid(eg: xxx@gmail.com)</p>
                </div>
                
                <div>
                    <div class="relative">
                        <input type="text" id="floating_outlined_2" 
                        formControlName="password"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-500 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                        [ngClass]="{
                            ' border-red-500': form.get('password')?.invalid && form.get('password')?.touched,
                            'border-green-600': !form.get('password')?.invalid && !form.get('password')?.touched
                        }"
                        />
                        <label for="floating_outlined_2" 
                        class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-4 scale-75 top-0 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                        [ngClass]="{
                            'text-red-600': form.get('password')?.invalid && form.get('password')?.touched,
                            'text-green-600 ': !form.get('password')?.invalid && !form.get('password')?.touched,
                        }"
                        >Password</label>
                    </div>
                    <p *ngIf="!form.get('password')?.valid && !form.get('password')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>must be 8 characters(eg: e5$h23Dq)</p>
                    <div class="flex">
                        <p class="text-red-600 m-auto text-sm">{{errorMessage}}</p>
                    </div>
                </div>
                <div >
                    <button class="w-full py-3 text-center text-white bg-[#232121] rounded-md" [disabled]="!form.valid">Log in</button>
                </div>
            </div>
        </form>
    </div>
</div>