<div class="flex items-center m-5">
    <label for="add-service" class="bg-[#3f37c9] text-white py-1  px-3 rounded hover:bg-[#2764a57a]">Add Service</label>
</div>
<input type="checkbox" id="add-service" class="peer fixed appearance-none opacity-0">
<label for="add-service" class="z-10 pointer-events-none invisible fixed inset-0 flex cursor-pointer items-center justify-center overflow-hidden overscroll-contain bg-slate-700/50 opacity-0 transition-all duration-200 ease-in-out peer-checked:pointer-events-auto peer-checked:visible peer-checked:opacity-100 peer-checked:[&>*]:translate-y-0 peer-checked:[&>*]:scale-100">
    <label for="" class="max-h-[calc(100vh - 5em)] h-fit w-3/12 scale-90 overflow-y-auto overscroll-contain rounded-md bg-white p-6 text-black shadow-2xl transition">
        <div class="flex items-center justify-between border-b rounded-t">
            <h3 class="text-lg font-semibold text-gray-900">
                Create New Service
            </h3>
        </div>
        <form [formGroup]="form">
            <div class="mb-4">
                <div class="col-span-2">
                    <label for="name" class="block m-1  font-medium text-gray-900 ">Name</label>
                    <input type="text" name="name" formControlName="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Type service name" required="">
                    <span *ngIf="!form.get('name')?.valid && !form.get('name')?.untouched"  class="text-sm text-red-700">name must be valid.</span>
                    <span   class="text-sm text-red-700 ">{{errorMessage}}</span>
                </div>
                <div class="col-span-2">
                    <label for="description" class="block m-1 text-sm font-medium text-gray-900 ">Service Description</label>
                    <textarea id="description" rows="4" formControlName="description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500  " placeholder="Write service description here"></textarea>                    
                    <span *ngIf="!form.get('description')?.valid && !form.get('description')?.untouched"  class="text-sm text-red-700">description must be less than 100 letters.</span>
                </div>
            </div>
            <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" (click)="onSubmit()" [disabled]="!form.valid">
                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                Add new service
            </button>
        </form>
    </label>
</label>