<app-navbar></app-navbar>
<!-- component -->
 
<div class="mx-20 pb-20">
    <div class="w-full">
        <div class="px-6 pt-6 2xl:container">
            <div class="grid grid-cols-1 lg:grid-cols-4 sm:grid-cols-2 gap-3">
                <div class="h-fit mb-10 py-5 px-4 rounded-xl border border-green-400 bg-[#aaff4f6c]">
                    <h5 class="text-xl text-gray-700">Total Booking Income</h5>
                    <div class="mt-6">
                        <h1 class="text-5xl font-bold text-gray-800"> ₹ {{totalRevenue}} /-</h1>
                        <span class="text-gray-700">Earned from {{totalBookingCount}} Bookings</span>
                    </div>
                </div>
                <div class="h-fit py-5 px-4 rounded-xl border border-green-400 bg-[#aaff4f6c]">
                    <h5 class="text-lg text-gray-700">Monthly Booking Income</h5>
                    <div class="mt-6">
                        <h1 class="text-5xl font-bold text-gray-800"> ₹ {{monthlyRevenue}} /-</h1>
                        <span class="text-gray-700">Earned from {{monthlyBookingCount}} Bookings</span>
                    </div>
                </div>
                <div class="h-fit py-5 px-4 rounded-xl border border-green-400 bg-[#aaff4f6c]">
                    <h5 class="text-xl text-gray-700">Total Completed Bookings</h5>
                    <div class="my-6">
                        <h1 class="text-5xl font-bold text-gray-800"><i class="fa-regular fa-calendar-check mx-3"></i>{{completedBookings}}</h1>
                    </div>
                </div>
                <div class="h-fit py-5 px-4 rounded-xl border border-green-400 bg-[#aaff4f6c]">
                    <h5 class="text-xl text-gray-700">Active Customers</h5>
                    <div class="my-6">
                        <h1 class="text-5xl font-bold text-gray-800"><i class="fa fa-users" aria-hidden="true"></i> {{bookedUsers}} </h1>
                    </div>
                </div>
            </div>
            <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
                <div class="md:col-span-2 lg:col-span-2" >
                    <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-500 bg-[#2d601e6c]">
                        <div>
                            <h5 class="text-3xl font-bold text-gray-300 text-center">Bookings on this Month</h5>
                            <div >
                                <ag-charts-angular  [options]="options"></ag-charts-angular>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="h-full py-4 px-3 space-y-6 rounded-xl border border-gray-500 bg-[#162e0f6c]">
                        <div>
                            <h5 class="text-3xl font-bold text-gray-300 text-center">Bookings based  on PaymentMethod</h5>
                            <div >
                                <ag-charts-angular  [options]="optionsTotal"></ag-charts-angular>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 


 