<h1 class="p-3 font-semibold text-4xl">User Management</h1>

<div class=" flex justify-center">
    <div class="relative w-11/12 overflow-x-auto shadow-lg sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500  ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        E-mail
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Phone
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users$"  class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  ">
                        {{user.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{user.email}}
                    </td>
                    <td class="px-6 py-4">
                        {{user.phone | phoneNumber}}
                    </td>
                    <td class="px-6 py-4">
                        <a *ngIf="user.isListed; else list" (click)="onStatusChange(user._id)" class="font-medium text-blue-600 hover:underline">Unlist</a>
                        <ng-template #list>
                            <a (click)="onStatusChange(user._id)"  class="font-medium text-blue-600 hover:underline">List</a>
                        </ng-template>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>