<nav class="bg-[#fff] w-full text-white py-4 ">
    <div class="flex justify-around w-auto">
        <div class="bg-[#480ca8] rounded-lg" id="navigation">
            <form class="navbar-form">
                <div class="">
                    <input type="text" value="" class="text-black bg-[#dbe4ee] rounded-lg outline-none lg:p-2 lg:w-96 " placeholder="Search...">
                     
                </div>
            </form>
            
        </div>
        <div>
            <button class="bg-[#3f37c9] p-2 rounded hover:bg-[#2764a57a]">LOG OUT</button>
        </div>
    </div>
</nav>