<div class="grid grid-cols-3 mb-10">
    <div></div>
    <div class="relative justify-end ml-5">
        <div class="flex w-full ">
            <div class="absolute w-full flex z-10 items-center justify-center ">
                <img class="w-28 h-28 rounded-full" src="./assets/worker-sample/ocala-plumber.webp" alt="">
            </div>
        </div>
        <div class="bg-[#181d16] border-[2px]   text-white border-[#f1f3f27c] shadow-lg mt-10  h-fit w-full p-2 rounded-3xl">
            <div class=" flex w-full z-0 h-fit">
                <div class="relative h-fit  mt-16 w-full rounded-md ">
                    <div class=" flex justify-center w-full">
                        <h1 class="text-2xl left-1/2 font-semibold">{{workerDetails.name}}</h1>
                    </div>
                    <div class=" flex justify-center w-full">
                        <h2 class="text-xl">{{workerDetails.work}}</h2>
                    </div>
                    <div class="flex">
                        <div class="grid grid-cols-2 text-md text-center h-fit w-full ">
                            <div class=" ">
                                <p class="py-3"><span class="font-semibold">Phone:</span>{{workerDetails.phone}}</p>
                                <p class="py-3"><span class="font-semibold">E-mail:</span> {{workerDetails.email}}</p>
                                <p class="py-3"><span class="font-semibold">Age:</span>{{workerDetails.age}}</p>
                                <p class="py-3"><span class="font-semibold">Gender:</span> {{workerDetails.gender}}</p>
                            </div>
                            <div class="">
                                <p class="py-3"><span class="font-semibold">Location:</span> {{workerDetails.location}}</p>
                                <p class="py-3"><span class="font-semibold">Experience:</span> {{workerDetails.experience}}</p>
                                <p class="py-3"><span class="font-semibold">Wage(day):</span> {{workerDetails.wageForDay}}</p>
                                <p class="py-3"><span class="font-semibold">Wage(hour):</span>{{workerDetails.wageForHour}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <button class="px-3 py-1 text-lg font-semibold text-[#89fc00] rounded-lg bg-[#ffffff] hover:bg-[#82d61b] hover:text-white">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div>
        
    </div>
</div>