<aside class="w-52 text-center h-screen bg-gradient-to-r from-cyan-500 to-blue-500">
    <h1 class="text-white text-3xl py-3">Daily Hire</h1>
    <div class="pt-10 text-start">
        <div class="lg:px-10 lg:py-1 text-[#03045e]">
            <i class="fa-solid fa-gauge-high p-2"></i>
            <a class="text-xl" routerLink="dashboard" >Dashboard</a>
        </div>
        <div class="lg:px-10 lg:py-1 text-[#03045e]">
            <i class="fa-solid fa-users p-2"></i>
            <a class="text-xl" routerLink="user">Users</a>
        </div>
        <div class="lg:px-10 lg:py-1 text-[#03045e]">
            <i class="fas fa-users-cog p-2"></i>
            <a class="text-xl" routerLink="worker">Workers</a>
        </div>
        <div class="lg:px-10 lg:py-1 text-[#03045e]">
            <i class="fa fa-wrench p-2" ></i>
            <a class="text-xl" routerLink="service">Services</a>
        </div>
    </div>
</aside>
