<div class=" rounded-xl border bg-white px-6  pt-2  text-gray-900 mx-10">
   <div  *ngIf="bookings!=[]; else noBooking">
      <p class="text-lg font-bold pb-3">Nearest Bookings</p>
    
      <ul class=" divide-y divide-gray-200 ">
         <li class="pb-3 sm:pb-4" *ngFor="let booking of bookings | slice:0:3">
            <div class="flex items-center space-x-4 rtl:space-x-reverse">
               <div class="flex-shrink-0">
                  <img class="w-8 h-8 rounded-full" src="./assets/images/woker.jpg" alt="Neil image">
               </div>
               <div class=" flex justify-between w-full">
                  <div class="flex min-w-0">
                     <p class="text-sm font-medium text-gray-900 truncate  ">
                        {{booking.user.name}}
                     </p>
                     <p class="text-sm pl-5 text-gray-500 truncate  ">
                        {{booking.user.email}}
                     </p>
                  </div>
                  <div class="inline-flex pl-20 items-end text-base font-semibold text-gray-900  ">
                     {{booking.bookingTime | dateString}}
                  </div>
               </div>
              
            </div>
         </li>
      </ul>
   </div>

   <ng-template #noBooking>
      <p class="text-lg font-semibold py-10">No New Bookings...</p>
   </ng-template>
   
</div>