<div class="w-full">

    <div class=" flex flex-col mb-10 ">
        <div  class="font-caption flex justify-center text-[#DF6951] font-semibold">
            <p>CATEGORY</p>
        </div>
        <div class="flex justify-center font-caption text-3xl font-bold">
            <h2>Our Best Services</h2>
        </div>
        <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-10  m-7">
            
            <div class="overflow-hidden transition duration-300 ease-in-out delay-100 bg-white rounded-lg shadow-xl hover:shadow-2xl hover:scale-110 h-64 w-full border border-gray-200 px-5" >
                <div class="flex w-full justify-center">

                    <img class=" w-44" src="/assets/images/best-service/builder_action_set.jpg" alt="">
                </div>
                 <div class="flex mt-5">
                    <h1 class="m-auto font-semibold">Painter</h1>
                 </div>
                 <p class="text-xs text-center ">Helps you with washing walls, removing paint, repairing holes, applying paints</p>
            </div>
            <div class="overflow-hidden transition duration-300 ease-in-out delay-100 bg-white rounded-lg shadow-xl hover:shadow-2xl hover:scale-110 h-64 w-full border border-gray-200 px-5" >
                <div class="flex w-full justify-center">

                    <img class=" w-44" src="/assets/images/best-service/4565.jpg" alt="">
                </div>
                 <div class="flex">
                    <h1 class="m-auto  font-semibold">Driver</h1>
                 </div>
                 <p class="text-xs text-center ">Helps you with driving long distances </p>
            </div>
            <div class="overflow-hidden transition duration-300 ease-in-out delay-100 bg-white rounded-lg shadow-xl hover:shadow-2xl hover:scale-110 h-64 w-full border border-gray-200 px-5" >
                <div class="flex w-full justify-center">

                    <img class=" w-44" src="/assets/images/best-service/Wavy_Cst-01_Single-05.jpg" alt="">
                </div>
                 <div class="flex">
                    <h1 class="m-auto font-semibold">Electrician</h1>
                 </div>
                 <p class="text-xs text-center ">Helps you with repairing or replacing equipment, fixtures or wiring </p>
            </div>
            <div class="overflow-hidden transition duration-300 ease-in-out delay-100 bg-white rounded-lg shadow-xl hover:shadow-2xl hover:scale-110 h-64 w-full border border-gray-200 px-5" >
                <div class="flex w-full justify-center">

                    <img class=" w-44" src="/assets/images/best-service/9889.jpg" alt="">
                </div>
                 <div class="flex">
                    <h1 class="m-auto font-semibold">Plumber</h1>
                 </div>
                 <p class="text-xs text-center ">Helps you with installing pipes and installing supports for pipelines </p>
            </div>
          
            <!-- <div class="overflow-hidden transition duration-300 ease-in-out delay-100 bg-white rounded-lg shadow-xl h-64 w-64 hover:shadow-2xl hover:scale-110 p-5" >
                <div class="flex w-full justify-center">
                    <img class=" w-44" src="/assets/images/best-service/builder_action_set.jpg" alt="">
                </div>
                <div class="flex">
                    <p class="m-auto mt-5 font-semibold">Painter</p>
                </div>
                <p class="text-xs text-center ">Helps you with washing walls, removing paint, repairing holes, applying paints </p>
            </div>
            <div class="overflow-hidden transition duration-300 ease-in-out delay-100 bg-white rounded-lg shadow-xl w-44 hover:shadow-2xl hover:scale-110 h-72" >
                <img src="/assets/images/best-service/4565.jpg" alt="">    
                <div class="flex">
                    <p class="m-auto font-semibold">Driver</p>
                 </div>
                 <p class="text-xs text-center ">Helps you with driving long distances</p>
            </div>
            <div class="overflow-hidden transition duration-300 ease-in-out delay-100 bg-white rounded-lg shadow-xl w-44 hover:shadow-2xl hover:scale-110 h-72" >
                <img src="/assets/images/best-service/9889.jpg" alt="">
                <div class="flex">
                    <p class="m-auto font-semibold">Plumber</p>
                 </div>
                 <p class="text-xs text-center ">Helps you with installing pipes and installing supports for pipelines</p>
            </div> -->
        </div>
    </div>
</div>