<nav class="flex justify-around w-auto pt-3 pb-3 backdrop-blur-sm	 shadow-md">
    <h1 class="ml-5 text-white"> Title</h1>
    <ul class="flex items-center text-2xl text-gray-800 font-semibold">
        <li><a class="pr-2.5 pl-2.5" href="#">HOME</a> </li>
        <li><a class="pr-2.5 pl-2.5" href="#">PROFILE</a></li>
        <li><a class="pr-2.5 pl-2.5" href="#">SCHEDULE</a></li>
    </ul>
    <button class="px-4 py-1 text-lg text-white rounded bg-[#00000098] hover:bg-gray-800" routerLink="/worker/auth/login">Login</button>
</nav>
