<h1 class="p-3 font-semibold text-4xl">Booking Management</h1>

<div class=" flex justify-center">
    <div class="relative w-11/12">
        <div class="pb-3 w-full rounded-lg" id="navigation">
            <div class="mb-3 w-full  ">

                <div class="flex flex-col">
                    <div class="rounded-xl border border-gray-200 bg-white p-6 shadow-lg">
                        <form class=""  [formGroup]="form">
                            <div class="grid grid-cols-1 pb-3 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                                <div class="flex flex-col">
                                    <label for="service"
                                        class="text-sm font-medium text-stone-600">Work Type</label>

                                    <select id="service"
                                        formControlName="serviceKey"
                                        class="mt-2 block w-full rounded-md border border-gray-100 bg-gray-100 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                                        <option value="All">ALL</option>
                                        <option *ngFor="let service of services" value="{{service.name}}" >{{service.name}}</option>
                                    </select>
                                </div>

                                <div class="flex flex-col">
                                    <label for="date" class="text-sm font-medium text-stone-600">Starting Date of Bookings</label>
                                    <input type="date" id="date"
                                        formControlName="startDate"
                                        class="mt-2 block w-full cursor-pointer rounded-md border border-gray-100 bg-gray-100 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                                </div>
                                <div class="flex flex-col">
                                    <label for="date" class="text-sm font-medium text-stone-600">Ending Date of Booking</label>
                                    <input type="date" id="date"
                                        formControlName="endDate"
                                        class="mt-2 block w-full cursor-pointer rounded-md border border-gray-100 bg-gray-100 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                                </div>

                                <div class="flex flex-col">
                                    <label for="status" class="text-sm font-medium text-stone-600">Status</label>

                                    <select id="status"
                                        formControlName="statusKey"
                                        class="mt-2 block w-full cursor-pointer rounded-md border border-gray-100 bg-gray-100 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                                        <option value="All">ALL</option>
                                        <option value="Confirmed">Confirmed</option>
                                        <option value="Cancel Requested">Cancel Requested</option>
                                        <option value="Cancelled">Cancelled</option>
                                    </select>
                                </div>
                            </div>

                            <div class=" grid w-full grid-cols-2 justify-end ">
                                <div class="relative   w-full flex  items-center justify-between rounded-md">
                                    <svg class="absolute left-2 block h-5 w-5 text-gray-400"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <circle cx="11" cy="11" r="8" class=""></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65" class=""></line>
                                    </svg>
                                    <input type="name" name="search"
                                        formControlName="searchKey"
                                        class="h-12 w-full cursor-text rounded-md border border-gray-100 bg-gray-100 py-4 pl-12 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                                        placeholder="Search by Name of User and Worker" />
                                </div>
                                <div class="flex justify-end">
                                    <button
                                        class="rounded-lg  bg-gray-200 px-8 py-2 font-medium text-gray-700 outline-none hover:opacity-80 focus:ring" (click)="onFilterReset()">Reset</button>
                                    <button
                                        class="rounded-lg  ml-3  bg-blue-600 px-8 py-2 font-medium text-white outline-none hover:opacity-80 focus:ring" (click)="onApplySearchFilter()">Search</button>
                                    <button class="bg-blue-500   ml-3 px-5 text-white rounded-lg font-semibold" (click)="generatePdf()"><i
                                        class="fa-regular fa-file-pdf pr-2"></i>Generate PDF</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            
        </div>
        <div class="overflow-x-auto shadow-lg sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500  ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-200  ">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            User Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Worker Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Work
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Scheduled Time
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Booking Fee
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings$ | slice: currentPage * 6 - 6 : currentPage * 6"
                        class="bg-white border-b   ">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  ">
                            {{booking.user.name}}
                        </th>
                        <td class="px-6 py-4 ">
                            {{booking.worker.name}}
                        </td>
                        <td class="px-6 py-4 ">
                            {{booking.worker.work}}
                        </td>
                        <td class="px-6 py-4">
                            {{booking.bookingTime | dateString}}
                        </td>

                        <td class="px-6 py-4">
                            {{booking.fee}}
                        </td>
                        <td class="px-6 py-4">
                            {{booking.status}}
                        </td>

                        <td class="px-6 py-4">
                            <button (click)="onStatusChange(booking._id)"
                                class="font-medium text-blue-600 hover:underline" [disabled]="booking.isCancelled"
                                [ngClass]="{'text-gray-500 ': booking.isCancelled  === true}">
                                Cancel</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div>
            <nav class="flex justify-center my-3" aria-label="Page navigation example">
                <ul class="inline-flex -space-x-px text-base h-10">
                    <li>
                        <a (click)="onPrevious($event)"
                            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-blue-50 hover:text-blue-500">
                            Previous
                        </a>
                    </li>
                    <ng-container *ngFor="let page of pages">
                        <li>
                            <a (click)="onPageClick(page)"
                                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-blue-50 hover:text-blue-500"
                                [ngClass]="{'bg-gradient-to-r from-cyan-500 rounded-md to-blue-500 text-white hover:text-white': page === currentPage}">
                                {{ page }}
                            </a>
                        </li>
                    </ng-container>
                    <li>
                        <a (click)="onNext($event)"
                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-blue-50 hover:text-blue-500">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>