<div class="  rounded-xl border bg-white px-6 pt-2  text-gray-900  mt-3 mx-10">
   <div class="flex justify-between">
      <p class="text-lg font-bold pb-3">Booking on {{ booking.bookingTime | dateString }}</p>
   </div>
    <ul class="max-w-md divide-y divide-gray-200 ">
       <li class="pb-3 sm:pb-4" >
          <div class="flex items-center space-x-4 rtl:space-x-reverse">
             <div class="flex-shrink-0">
                <img class="w-8 h-8 rounded-full" src="./assets/images/woker.jpg" alt="Neil image">
             </div>
             <div class="flex justify-evenly">
               <div>
                  <p class="text-sm font-medium text-gray-900 truncate  ">
                    {{booking.user.name}}
                  </p>
                  <p  class="text-sm text-gray-500 truncate  ">
                      {{booking.user.email}}
                  </p>
               </div>
                <p class="pl-10">{{booking.status}}</p>
             </div>
             <div class="inline-flex items-center text-base font-semibold text-gray-900 pl-20 ">
                <button (click)="onCancelSelected()" *ngIf="booking.status=='Confirmed'" class="cursor-pointer transition-all bg-red-500 text-white px-6 py-2 rounded-lg hover:brightness-110 active:brightness-90">
                  Cancel
                </button>
             </div>
          </div>
       </li>
 
    </ul>
 
 </div>