<h1 class="px-3 py-5 font-semibold text-4xl">Dashboard</h1>
<div class="pb-10">

  <div class="grid grid-cols-3 gap-y-4 px-4 text-slate-600">
    <div class="col-span-2">
      <div class="mx-4 bg-gradient-to-t from-indigo-500 to-blue-500 px-4 py-8 sm:col-span-1 sm:mx-0 sm:rounded-xl sm:py-4">
        <p class="mb-4 font-medium text-indigo-100">Cases in pipeline</p>
        <div class="h-72">  
          <ag-charts-angular  [options]="options"></ag-charts-angular> 
        </div>
      </div>
    </div>
  
    <div class="gap-4 px-4 ">
      <div class="rounded-lg border border-gray-300 bg-[#d5eaf9] shadow-md mx-5 py-2 px-5 my-3">
        <p class="text-lg font-bold">Total Revenue</p>
        <p class="text-slate-800 px-10 text-4xl mb-4 font-medium">₹{{totalRevenue}}</p>
      </div>
      <div class="rounded-lg border border-gray-300 bg-[#d5eaf9] shadow-md mx-5 py-2 px-5 my-3">
        <p class="text-lg font-bold">Monthly Revenue</p>
        <p  class="text-slate-800 px-10 text-4xl mb-4 font-medium">₹{{monthlyRevenue}}</p>
      </div>
      <div class="rounded-lg border border-gray-300 bg-[#d5eaf9] shadow-md mx-5 py-2 px-5 my-3">
        <p class="text-lg font-bold">Total Completed Bookings</p>
        <p  class="text-slate-800 px-10 text-4xl mb-4 font-medium"><i class="fa-regular fa-calendar-check"></i>{{completedBookings}}</p>
      </div>
    </div>
  </div>
  
  <div class="grid grid-cols-3 pt-4">
    <div class=" ">
      <div class="  ">
        <div class="rounded-lg border border-gray-200 bg-[#d5eaf9] shadow-md mx-5 py-2 px-5 my-3">
          <p class="mb-4 font-medium text-indigo-600">Payment wise Bookings</p>
          <div class="py-3 h-96">  
            <ag-charts-angular  [options]="optionsPie"></ag-charts-angular> 
          </div>
        </div>
      </div>
    </div>
    <div class=" col-span-2">
      <div class="grid grid-cols-4 gap-6  px-3 pt-4 ">
        <div class="border border-white rounded-lg h-fit shadow-md px-3 py-1  ">
          <p class="text-slate-500 text-sm">Total No of Users</p>
          <p class="text-xl font-medium">{{userCount}}</p>
        </div>
        <div class="border border-white rounded-lg h-fit shadow-md px-3 py-1  ">
          <p class="text-slate-500 text-sm">Total No of Worker</p>
          <p class="text-xl font-medium">{{workerCount}}</p>
        </div>
        <div class="border border-white rounded-lg h-fit shadow-md px-3 py-1  ">
          <p class="text-slate-500 text-sm">Total No of Services</p>
          <p class="text-xl font-medium">{{serviceCount}}</p>
        </div>
        <div class="border border-white rounded-lg h-fit shadow-md px-3 py-1  ">
          <p class="text-slate-500 text-sm">Total No of Reviews</p>
          <p class="text-xl font-medium">{{reviewCount}}</p>
        </div>
      </div>
      <div class="my-5">
        <div class="border border-white bg-[#edf6fc] rounded-lg h-80 shadow-md px-5 my-2 mx-2 ">
          <ag-charts-angular [options]="optionsBar"></ag-charts-angular> 
        </div>
      </div>
    </div>
  </div>
</div>