<div *ngIf="chats.length>0; else noChat">
    <div class="flex flex-col flex-auto  px-6">
        <div class="h-14 rounded-t-2xl bg-[#0a2e36]">
            <h1 class=" ml-10 py-3 text-white text-lg">{{name}}</h1>
        </div>
        <div class="flex flex-col flex-auto flex-shrink-0  bg-[#ffffff] w-[700px] h-[450px] p-4">
            <div #scrollMe class="flex flex-col h-full overflow-x-auto mb-4">
                <div  class="flex flex-col h-full">
                    <div class="grid grid-cols-12 gap-y-2"  *ngFor="let chat of chats">
                        <div class="col-start-1 col-end-8 p-3 rounded-lg" *ngIf="chat.senderId==senderId" >
                            <div class="flex flex-row items-center">
                                <div
                                    class="flex items-center justify-center h-10 w-10 rounded-full bg-[#319177] flex-shrink-0">
                                    
                                </div>
                                <div class="relative ml-3 text-sm bg-indigo-100 py-2 shadow rounded-xl">
                                    <div class="px-4 ">
                                        {{chat.content}}
                                    </div>
                                    <div class="absolute text-[10px] bottom-0 w-20 left-0 -mb-5  text-gray-500">
                                        {{chat.date | dateAgo}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-start-6 col-end-13 p-3 rounded-lg" *ngIf="chat.senderId!=senderId">
                            <div class="flex items-center justify-start flex-row-reverse">
                                <div
                                    class="flex items-center justify-center h-10 w-10 rounded-full bg-[#319177] flex-shrink-0">
                                </div>
                                <div class="relative mr-3 text-sm bg-indigo-100 py-2 shadow rounded-xl">
                                    <div class="px-4 ">
                                        {{chat.content}}
                                    </div>
                                    <div class="absolute text-[10px] bottom-0 w-20 right-0 -mb-5  text-gray-500">
                                        {{chat.date | dateAgo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-center h-16 rounded-b-xl bg-[#0a2e36] w-full px-4">
            <div class="flex-grow ml-4">
                <div class="relative w-full">
                    <input type="text"
                        class="flex w-full border rounded-full focus:outline-none focus:border-indigo-300 pl-4 h-10"  [(ngModel)]="text" (keyup.enter)="sendMessage(text)" />
                    
                </div>
            </div>
            <div class="ml-4">
                <button (click)="sendMessage(text)"
                    class="flex items-center justify-center bg-[#058c42] hover:bg-[#319177] rounded-xl text-white px-4 py-1 flex-shrink-0">
                    <span>Send</span>
                    <span class="ml-2">
                        <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<ng-template #noChat>
    <div class=" ml-56 items-center">
        <img class="h-96 " src="../../../../../assets/images/4318690-removebg-preview.png" alt="nochat">
        <p class="text-xl text-center text-white">You can send and Receive messages</p>
        <p class="text-lg text-center text-white">Please select a Chat</p>
    </div>
</ng-template>