<div class="w-7/12 m-auto mt-20  overflow-hidden bg-[#ffffffc1] shadow-lg  rounded-xl">
    <div class="text-center mt-3">
        <h1 class="mb-1 text-3xl ">Worker Signup</h1>
        <p class="text-sm">Already Registered on Daily Hire? <a routerLink="/worker/auth/login"  class="font-semibold text-yellow-950">Click Here</a></p>
    </div>

    <form  [formGroup]="form"  (ngSubmit)="onFormSubmit()" >

        <div class="grid grid-cols-2 mt-3 divide-x divide-slate-400/50">
            <div class="relative w-full px-10 py-10 h-fit">
                <div class='grid gap-5'>
                    <h1 class="text-xl ">Personal Details</h1>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="name"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('name')?.invalid && form.get('name' )?.touched,
                                'border-green-600': !form.get('name')?.invalid && !form.get('name')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('name')?.invalid && form.get('name')?.touched,
                                'text-green-600 ': !form.get('name')?.invalid && !form.get('name')?.touched,
                            }"
                            >Name</label>
                        </div>
                        <p *ngIf="!form.get('name')?.valid && !form.get('name')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>Name must be valid(a-z,A-Z)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="phone"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('phone')?.invalid && form.get('phone')?.touched,
                                'border-green-600': !form.get('phone')?.invalid && !form.get('phone')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('phone')?.invalid && form.get('phone')?.touched,
                                'text-green-600 ': !form.get('phone')?.invalid && !form.get('phone')?.touched,
                            }"
                            >Phone number</label>
                        </div>
                        <p *ngIf="!form.get('phone')?.valid && !form.get('phone')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>Number must be valid(0-9)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="age"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('age')?.invalid && form.get('age')?.touched,
                                'border-green-600': !form.get('age')?.invalid && !form.get('age')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('age')?.invalid && form.get('age')?.touched,
                                'text-green-600 ': !form.get('age')?.invalid && !form.get('age')?.touched,
                            }"
                            >Age</label>
                        </div>
                        <p *ngIf="!form.get('age')?.valid && !form.get('age')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>Age must be a valid (above 17 & below 65)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <select id="underline_select" formControlName="gender"
                                class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-400 appearance-none focus:outline-none focus:ring-0 peer"
                                >
                                <option value="select">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <p *ngIf="!form.get('gender')?.valid && !form.get('gender')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>email must be valid(eg: xxx@gmail.com)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="email"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('email')?.invalid && form.get('email')?.touched,
                                'border-green-600': !form.get('email')?.invalid && !form.get('email')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('email')?.invalid && form.get('email')?.touched,
                                'text-green-600 ': !form.get('email')?.invalid && !form.get('email')?.touched,
                            }"
                            >e-mail</label>
                        </div>
                        <p *ngIf="!form.get('email')?.valid && !form.get('email')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>email must be valid(eg: xxx@gmail.com)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="password"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('password')?.invalid && form.get('password')?.touched,
                                'border-green-600': !form.get('password')?.invalid && !form.get('password')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('password')?.invalid && form.get('password')?.touched,
                                'text-green-600 ': !form.get('password')?.invalid && !form.get('password')?.touched,
                            }"
                            >Password</label>
                        </div>
                        <p *ngIf="!form.get('password')?.valid && !form.get('password')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>emust be 8 characters(eg: e5$h23Dq)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="confpassword"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('confpassword')?.invalid && form.get('confpassword')?.touched,
                                'border-green-600': !form.get('confpassword')?.invalid && !form.get('confpassword')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('confpassword')?.invalid && form.get('confpassword')?.touched,
                                'text-green-600 ': !form.get('confpassword')?.invalid && !form.get('confpassword')?.touched,
                            }"
                            >Confirm Password</label>
                        </div>
                        <p *ngIf="!form.get('confpassword')?.valid && !form.get('confpassword')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>must be 8 characters(eg: e5$h23Dq)</p>
                    </div>
                </div>
            </div>

            <div class="relative w-full px-10 py-10 h-fit">
                <div class='grid gap-5'>
                    <h1 class="text-xl ">Work Details</h1>
                    <div>
                        <label for="underline_select" class="sr-only ">Works</label>
                        <select id="underline_select" 
                        formControlName="work"
                        class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                        >
                            <option value="work">Profession</option>
                            <option value="Elecrician"> Elecrician</option>
                            <option value="Plumber">Plumber</option>
                            <option value="Driver">Driver</option>
                            <option value="House-keeping">House-keeping</option>
                            <option value="Painter">Painter</option>
                        </select>
                        <p *ngIf="!form.get('email')?.valid && !form.get('email')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>Work name must be valid (a-z,A-Z)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="experience"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('experience')?.invalid && form.get('experience')?.touched,
                                'border-green-600': !form.get('experience')?.invalid && !form.get('experience')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('experience')?.invalid && form.get('experience')?.touched,
                                'text-green-600 ': !form.get('experience')?.invalid && !form.get('experience')?.touched,
                            }"
                            >Years of Experince</label>
                        </div>
                        <p *ngIf="!form.get('experience')?.valid && !form.get('experience')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>Years must be valid(0-9)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="wageForHour"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('wageForHour')?.invalid && form.get('wageForHour')?.touched,
                                'border-green-600': !form.get('wageForHour')?.invalid && !form.get('wageForHour')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('wageForHour')?.invalid && form.get('wageForHour')?.touched,
                                'text-green-600 ': !form.get('wageForHour')?.invalid && !form.get('wageForHour')?.touched,
                            }"
                            >Expected wage for an hour</label>
                        </div>
                        <p *ngIf="!form.get('wageForHour')?.valid && !form.get('wageForHour')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>wage must be valid(0-9)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="wageForDay"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('wageForDay')?.invalid && form.get('wageForDay')?.touched,
                                'border-green-600': !form.get('wageForDay')?.invalid && !form.get('wageForDay')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('wageForDay')?.invalid && form.get('wageForDay')?.touched,
                                'text-green-600 ': !form.get('wageForDay')?.invalid && !form.get('wageForDay')?.touched,
                            }"
                            >Expected wage for a Day</label>
                        </div>
                        <p *ngIf="!form.get('wageForDay')?.valid && !form.get('wageForDay')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>wage must be valid(0-9)</p>
                    </div>
                    <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="location"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('location')?.invalid && form.get('location')?.touched,
                                'border-green-600': !form.get('location')?.invalid && !form.get('location')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-6 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('location')?.invalid && form.get('location')?.touched,
                                'text-green-600 ': !form.get('location')?.invalid && !form.get('location')?.touched,
                            }"
                            >Perfered Location</label>
                        </div>
                        <p *ngIf="!form.get('location')?.valid && !form.get('location')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>Location must be valid (a-z,A-Z)</p>
                    </div>
                    <!-- <div>
                        <div class="relative">
                            <input type="text" id="floating_outlined" 
                            formControlName="confpassword"
                            class="block pl-3 pb-2 pt-2 w-full text-sm text-gray-900  bg-transparent rounded-lg border border-gray-400 appearance-none  focus:outline-none focus:ring-0  peer " placeholder=" " 
                            [ngClass]="{
                                ' border-red-500': form.get('confpassword')?.invalid && form.get('confpassword')?.touched,
                                'border-green-600': !form.get('confpassword')?.invalid && !form.get('confpassword')?.touched
                            }"
                            />
                            <label for="floating_outlined" 
                            class="absolute text-sm rounded-2xl  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-transparent  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
                            [ngClass]="{
                                'text-red-600': form.get('confpassword')?.invalid && form.get('confpassword')?.touched,
                                'text-green-600 ': !form.get('confpassword')?.invalid && !form.get('confpassword')?.touched,
                            }"
                            >Perfered Location</label>
                        </div>
                        <p *ngIf="!form.get('confpassword')?.valid && !form.get('confpassword')?.untouched"  class="mt-2 text-xs text-red-600 "> <span class="font-medium">Oh, snapp! </span>email must be valid(eg: xxx@gmail.com)</p>
                    </div> -->
                </div>
                    
                <div class="mt-4">
                    <input type="checkbox" placeholder="Confirm Password" class="border border-gray-400">
                    <span class="text-sm">
                        I accept the <a href="#" class="font-semibold text-yellow-950">Terms of Use</a> & <a href="#"  class="font-semibold text-yellow-950">Privacy Policy</a>
                    </span>
                </div> 
                
            </div> 
        </div>
        <div class="flex">
            <p class="text-red-600 m-auto text-sm">{{errorMessage}}</p>
        </div>
        
        <div class="w-full my-5 text-center">
            <button class=" w-80 py-3 text-center text-white bg-[#232121] rounded-md" [disabled]="!form.valid">Register Now</button>
        </div>

    </form>

    
      

</div>
