<app-nav-bar></app-nav-bar>

<div class="h-auto">

    <div class="absolute w-full flex z-10 items-center justify-center ">
        <img class="w-48 h-48 rounded-full" src="./assets/worker-sample/ocala-plumber.webp" alt="">
    </div>
    <div class="absolute flex w-full mt-28 z-0 h-fit">
        
        <div class="h-fit mx-20 w-full rounded-md bg-gradient-to-r from-[#fff9d6] via-[#e5ece9] to-[#adb6c4]">
           
            <div class=" flex justify-center mt-20 w-full">
                <h1 class="text-4xl left-1/2 font-semibold">{{details$.name}}</h1>
            </div>
            <div class=" flex justify-center w-full">
                <h2 class="text-3xl">{{details$.work}}</h2>
            </div>
            <div class="flex justify-center items-center space-x-2 m-3">
                <svg class="w-6 h-6 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-6 h-6 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-6 h-6 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-6 h-6 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-6 h-6 text-gray-300 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
            </div>
            <div class="flex">

                <div class="grid grid-cols-2 py-1 h-fit w-3/4 ">
                    <div class="mx-10 ">
                        <p class="px-10 py-3 text-xl"><span class="font-semibold">Phone:</span> {{details$.phone}}</p>
                        <p class="px-10 py-3 text-xl"><span class="font-semibold">E-mail:</span> {{details$.email}}</p>
                        <p class="px-10 py-3 text-xl"><span class="font-semibold">Age:</span> {{details$.age}}</p>
                        <p class="px-10 py-3 text-xl"><span class="font-semibold">Gender:</span> {{details$.gender}}</p>
                    </div>
                    <div class="mx-10 ">
                        <p class="px-10 py-3 text-xl"><span class="font-semibold">Location:</span> {{details$.location}}</p>
                        <p class="px-10 py-3 text-xl"><span class="font-semibold">Experience:</span> {{details$.experience}}</p>
                        <p class="px-10 py-3 text-xl"><span class="font-semibold">Wage for a Day:</span> {{details$.wageForDay}}</p>
                        <p class="px-10 py-3 text-xl"><span class="font-semibold">Wage for an Hour:</span> {{details$.wageForHour}}</p>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <button class="px-6 py-3 text-lg text-white rounded bg-[#9e2a2b] hover:bg-[#540b0e]">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</div>